* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #e7f6ff;
}

.wrapper {
  margin: 50px auto;
  background: #ffffff;
  max-width: 1080px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

header {
  border-bottom: 1px solid #eaeaea;
  img {
    margin-right: 15px;
  }

  ul {
    gap: 30px;
  }
  li {
    display: flex;
  }
}

.content {
  h1 {
    margin: 0;
  }
}

.button {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  border: 1px solid #f2f2f2;
  background: #fff;
  cursor: pointer;
}

.cartEmpty {
  text-align: center;
  gap: 10px;

  p {
    width: 280px;
    line-height: 24px;
  }
  .greenButton {
    width: 100%;
    height: 55px;
    background: #9dd558;
    border-radius: 18px;
    border: 0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    &:hover {
      background: lighten(#9dd558, 5%);
    }
    &:active {
      background: darken(#9dd558, 10%);
    }
    &:hover {
      img {
        transform: rotate(180deg) translateX(3px);
      }
    }

    img {
      position: relative;
      top: 1px;
      transform: rotate(180deg);
      margin-right: 15px;
      transition: transform 0.15s ease-in-out;
    }
  }
}

.search-block {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;
  position: relative;

  .clear {
    position: absolute;
    right: 10px;
    width: 18px;
  }

  input {
    width: 200px;
    border: 0;
    padding: 13px;
    font-size: 16px;
  }
}

.card-fav {
  position: absolute;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.drawer {
  display: flex;
  flex-direction: column;
  padding: 30px;
  position: absolute;
  width: 420px;
  height: 100%;
  right: 0;
  background: #fff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);

  .items {
    flex: 1;
    overflow: auto;
    margin-bottom: 40px;
  }

  h2 {
    margin: 0;
    font-size: 24px;
  }
}

.cartTotalBlock {
  ul {
    margin-bottom: 40px !important;
    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;
      div {
        margin: 0 7px;
        flex: 1;
        height: 1px;
        border-bottom: 1px dashed #dfdfdf;
        position: relative;
        top: -4px;
      }
    }
  }

  .greenButton {
    width: 100%;
    height: 55px;
    background: #9dd558;
    border-radius: 18px;
    border: 0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    &:hover {
      background: lighten(#9dd558, 5%);
    }
    &:active {
      background: darken(#9dd558, 10%);
    }
  }
}

.card-item {
  padding: 20px;
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  p {
    font-size: 16px;
    margin: 0;
  }
  b {
    font-size: 14px;
  }
  .card-item-img {
    margin-right: 20px;
    width: 70px;
    height: 70px;
    background-size: contain;
    background-position: 0 10px;
    background-repeat: no-repeat;
  }

  .removeBtn {
    opacity: 0.5;
    transition: opacity 0.15s ease-in-out;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}
